.navigation{
    height: auto;
    width: 100%;
    border-bottom: 5px solid gray;
    justify-content: center;
    text-align: center;
    padding: 20px;
    position: fixed;
    z-index: 10;
    top: 0;
    background-color: white;
}
#app_logo_txt{
    color: #4d94ff;
    font-family: 'Titan One', cursive;
}
.div_space{
    height: 150px;
}
